/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial,
        Helvetica,
        sans-serif;
}

navbar ul {
    background-color: #2081c3;
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
}

navbar ul li a {
    color: #f7f9f9;
    text-decoration: none;
    margin: 30px;
}

.firstPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstPage img {
    width: 500px;
    height: 500px;
    margin: 40px;
}

.firstPage button {
    margin: 15px;
    background-color: #2081c3;
    padding: 10px;
    border-radius: 10px;
    color: #f7f9f9;
    border: none;
    cursor: pointer;
}

.beerPartial {
    display: flex;

    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 30px;
}

.beerPartial img {
    width: 70px;
    height: 500px;
    margin: 0 auto;
}

.beerPartial a {
    color: black;
    text-decoration: none;
}

.beerPartial p {

    margin-bottom: 10px;
}

.tagLine {
    color: #bfbfbf;
}

.allBeerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beerRandomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}